@{
    ViewBag.Title = "Upload Photo (Ajax)";
}

<style>
    .top-buffer {
        margin-top: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        var form = $('#id_uploadForm');
        var uploadFile = $('#id_imageFile');
        var uploadButton = $('#id_submit');
        var targetFileName = $('#id_targetFileName').val();
        var description = $('#id_description').val();

        $('#id_imageFile').change(function (event) {
            console.log('Select file');
            console.log(this.files[0].name);
            $('#id_targetFileName').val(this.files[0].name);
            $('#id_targetFileName').select();
        });  // $('#id_thumbImg')

        form.submit = function (event) {
            event.preventDefault();
            var files = uploadFile.files;
            uploadButton.innerHTML = 'Uploading...';

            var formData = new FormData(); 
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                if (!(file.type.match('*.jpg') 
                    || file.type.match('*.jpeg')
                    || file.type.match('*.bmp'))) {
                    // not expected file type 
                    continue;
                }

                formData.append('imageFile', file, file.name);
                formData.append('targetFileName', targetFileName);
                formData.append('description', description);
            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/Upload/PostFile', true);
            // Set up a handler for when the request finishes.
            xhr.onload = function () {
                if (xhr.status === 200) {
                    uploadButton.innerHTML = 'Upload';
                } else {
                    alert('An error occurred!');
                }
            };
            // Send the Data.
            xhr.send(formData);
        };
    });  // $(document).ready(...)
</script>

<div class="container" id="pageContent">
    <form name="form_UploadImg"
          id="id_uploadForm"
          method="post"
          enctype="multipart/form-data"
          action="/api/Upload/PostFile"
          target="_blank">
        <fieldset>
            <legend>Upload Image File</legend>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <input name="imageFile" type="file" id="id_imageFile" />
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-3">
                    <label for="targetFileName">New File Name:</label>
                </div>
                <div class="col-sm-9">
                    <input name="targetFileName" id="id_targetFileName" type="text" />
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-3">
                    <label for="description">Description:</label>
                </div>
                <div class="col-sm-9">
                    <input name="description" id="id_description" type="text" />
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-12">
                    <input type="submit" value="Submit" id="id_submit" />
                </div>
            </div>

        </fieldset>
    </form>
</div>
